{% extends "main/base.html" %}
{% load static %}

{% block content %}
<section class="card-section">
  <div class="container">
    <div class="card banner border-0 mt-3">
      <div class="card-body">
        <h4 class="page-title text-center">Capital Market Authority Tenders portal</h4>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
     <a href="{% url 'citizencontractor-list' %}">
        <div class="col mt-4">
            <div class="card h-100 bg-transparent border-0 square-card">
              <div class="card-body d-flex justify-content-center align-items-center">
                <img src="{% static 'main/images/citizen.png' %}" class="card-img-top" alt="Card Image">
                <div class="image-overlay d-flex justify-content-center align-items-center d-none d-md-flex">
                    <div class="image-text">
                        <h5>Citizen Contractor</h5>
                    </div>
                </div>
              </div>
            </div>
          </div>
     </a>
      <a href="{% url 'open-international-list' %}">
        <div class="col mt-4">
            <div class="card h-100 bg-transparent border-0 square-card">
              <div class="card-body d-flex justify-content-center align-items-center">
                <img src="{% static 'main/images/global.png' %}" class="card-img-top" alt="Card Image">
                <div class="image-overlay d-flex justify-content-center align-items-center d-none d-md-flex">
                    <div class="image-text">
                        <h5>Open International</h5>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </a>
     <a href="{% url 'open-national-list' %}">
        <div class="col mt-4">
            <div class="card h-100 bg-transparent border-0 square-card">
              <div class="card-body d-flex justify-content-center align-items-center">
                <img src="{% static 'main/images/kenya.png' %}" class="card-img-top" alt="Card Image">
                <div class="image-overlay d-flex justify-content-center align-items-center d-none d-md-flex">
                    <div class="image-text">
                        <h5>Open National</h5>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     </a>
<a href="{% url 'reserved-pwd-list' %}">
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col mt-4">
          <div class="card h-100 bg-transparent border-0 square-card">
            <div class="card-body d-flex justify-content-center align-items-center">
              <img src="{% static 'main/images/pwd.png' %}" class="card-img-top" alt="Card Image">
              <div class="image-overlay d-flex justify-content-center align-items-center d-none d-md-flex">
                <div class="image-text">
                    <h5>Reserved for PWD</h5>
                </div>
            </div>
            </div>
          </div>
        </div>
</a>
    <a href="{% url 'reserved-women-list' %}">
        <div class="col mt-4">
            <div class="card h-100 bg-transparent border-0 square-card">
              <div class="card-body d-flex justify-content-center align-items-center">
                <img src="{% static 'main/images/women.png' %}" class="card-img-top" alt="Card Image">
                <div class="image-overlay d-flex justify-content-center align-items-center d-none d-md-flex">
                    <div class="image-text">
                        <h5>Reserved for Women</h5>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </a>
     <a href="{% url 'reserved-youth-list' %}">
        <div class="col mt-4">
            <div class="card h-100 bg-transparent border-0 square-card">
              <div class="card-body d-flex justify-content-center align-items-center">
                <img src="{% static 'main/images/youth.png' %}" class="card-img-top" alt="Card Image">
                <div class="image-overlay d-flex justify-content-center align-items-center d-none d-md-flex">
                    <div class="image-text">
                        <h5>Reserved for Youth</h5>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     </a>
  </div>
</section>
{% endblock %}
