{% extends "main/base.html" %}
{% load static %}

{% block content %}
<section class="card-section">
  <div class="container">
    <div class="card border-0 mt-3">
      <div class="card-body">
        <h4 class="page-title text-center">Capital Market Authority Tenders portal</h4>
      </div>
    </div>
    <div>
      <div class="table-responsive">
        {% if open_nationals %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Tender Ref</th>
              <th>Tender Title</th>
              <th>Tender File(s)</th>
              <th>Addendums</th>
              <th>Clarifications</th>
              <th>Drawings</th>
              <th>Opening</th>
              <th>Closing</th>
            </tr>
          </thead>
          <tbody>
            {% for open_national in open_nationals %}
            <tr>
              <td>{{ open_national.tender_ref }}</td>
              <td>{{ open_national.tender_title }}</td>
              <td>{% if open_national.tender_files %}<a href="{{ open_national.tender_files.url }}" target="_blank">View/Download</a>{% else %}No file{% endif %}</td>
              <td>{% if open_national.addendums %}<a href="{{ open_national.addendums.url }}" target="_blank">Download</a>{% else %}No file{% endif %}</td>
              <td>{% if open_national.certifications %}<a href="{{ open_national.certifications.url }}" target="_blank">Download</a>{% else %}No file{% endif %}</td>
              <td>{% if open_national.drawings %}<a href="{{ open_national.drawings.url }}" target="_blank">Download</a>{% else %}No file{% endif %}</td>
              <td>{{ open_national.opening_date }}</td>
              <td>{{ open_national.closing_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>No open national tenders available.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
